.dotnet/
.vscode-server/
.wget-hsts
.aws
.azure
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/configstore/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/functions/*
!.config/fish/functions/fish_user_key_bindings.fish
!.config/fish/functions/fzf_change_directory.fish
.config/go/
.config/mise/
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.docker/
.ghq/
.gnupg/
.lesshst
.local/
.motd_shown
.npm/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.viminfo
go/
snap/

