*
!.gitignore
!.config
!.config/home-manager
!.config/home-manager/**
!.config/nix
!.config/nix/**
!.pi
!.pi/agent
!.pi/agent/package.json
!.pi/agent/pnpm-lock.yaml
!.pi/agent/settings.json
!.pi/agent/extensions
!.pi/agent/extensions/**
.DS_Store
flake.lock
